@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* body {
  font-family: 'Poppins', sans-serif;
} */

.loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.loading-content {
  position: absolute;
  background-color: white;
  padding: 30px;
  width: 300px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav_active {
  position: relative;
  color: #1F2127;
  font-weight: 600;
}

.nav_active::after {
  position: absolute;
  left: 0;
  bottom: -10px;
  content: "";
  width: 100%;
  height: 3px;
  border-radius: 100px;
  background-color: #1F2127;
}

.hero-card {
  position: absolute;
  left: 10%;
  width: 80%;
  bottom: -6%;
  background-color: white !important;
  box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.5);
}

.sea-img{
  background-image: url('~/assets/img/laut.png');
  background-size: cover;
  max-height: max-content;
}

.sea-title{
  font-size: 50px;
  margin-top: 14rem;
  font-weight: 900;
}

.paket-text{
  text-align: center;
}

.box-bed{
  margin: 0 auto;
}
